<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="MonitoringFolder" value="C:\Temp\Test\" />            <!-- e.g.: "C:\Test1\;C:\Test2\" -->
    <add key="MonitoringEnv" value="EnvString" />                   <!-- just a string named in email subject -->
    <add key="LogFolder" value="C:\Temp\Logs" />                    <!-- e.g.: "C:\Temp\Logs" -->
    <add key="FileMonitoringFolder" value="C:\Temp\Test2\" />       <!-- e.g.: "C:\Test1\;C:\Test2\" -->
    <add key="FileMonitoringPattern" value="Exception" />           <!-- pattern to observe within files menitoned in FileMonitoringFolder (same4all!) -->
    <add key="Mail_InfoFrom" value="max@mustermann.de" />           <!-- single email address -->
    <add key="Mail_InfoTo" value="x@y.com" />                       <!-- e.g.: "x@y.com;a@b.com;winnie@poo.com" -->
    <add key="Mail_SMTP" value="localhost" />
    <add key="Mail_Port" value="25" />
    <add key="Mail_User" value="username" />
    <add key="Mail_Password" value="Pa$$w0rd" />
  </appSettings>
</configuration>